body {
    background-color: #FFFFFF;
}

input {
    width: 200px;
    height: 30px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.submit-form {
    margin-top: 20px;
    margin-left: 230px;
    margin-bottom: 50px;
}

.submit-button {
    width: 150px;
    height: 30px;
}