body {
  background-color: #FFFFFF;
}

.all-projects {
  margin-left: 230px;
}

.one-project {
  margin-left: 230px;
  margin-top: 50px;
}

.filtered-project {
  margin-left: 230px;
  margin-top: 50px;
}